
body {

  font-family: Arial,
    sans-serif;
margin: 0;
  padding: 0;
  /* background-color:#333333; */
  
 
}

  
h1{
  font-size: 36px;
  margin-top: 0;
  color: #0a0a0a;
  font-weight: bold !important;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial,
    sans-serif;
  /* font: normal normal normal 30px/34px Helvetica Neue; */
  letter-spacing: 0px;
  color: white;
  opacity: 1;
}
p {
  margin: 0;
    text-align: left;
   
  
  font-family: Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
}
.mar{
  color: #FFFFFF;
  font-weight: bold;
}

.navbar {
  background-color:white;
  padding: 0.1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  
  }

.container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  
    }
  

.navbar-logo {
  max-width: 100%;
}
@media (min-width: 320px) {
  .navbar-logo {
  max-width: 68%;
    padding-right: 0px;
      padding-left: -10px;
  }
}
@media (min-width: 280px) {
  .navbar-logo {
    max-width: 68%;
    padding-right: 0px;
    padding-left: -10px;
  }
}
.navbar-toggle {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

.navbar-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin: 0.5rem 0;
}

.navbar-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
section{
padding-top: 50px;
padding-bottom: 50px;
  margin:0% auto;

 padding-left: 40px;
 padding-right: 40px;
  background-color:#080838;
  color:black;
  /* box-shadow: 0 0 5px 2px rgba(0,0,0,0.15);  */
 
}







ul {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}



blockquote {
  font-size: 1.2rem;
  font-style: italic;
  color:#FFFFFF;
}


 
 

 h1 {
   font-size: 36px;
   margin-bottom: 40px;
 }

 
 /* .image-section {
   position: relative;
   height: 500px;
  background-size: cover;
   /* or any desired height */
 

 /* .background-image {
   background-image: url("./pages/images/ki1.jpg");
   background-size: cover;
   height: 800px;
   background-position: center;
   padding-top: 50px;
   position: relative;

 } */

 /* .background-fade{
background: linear-gradient(to bottom,rgba(135,206,235,0.7) 0%, rgba(173,216,230,0.7) 100%);
position: absolute;
top: 0;
left: 0;
width: 100%;
height:800px;

 } */

 .text{
  position: absolute;
  top: 50%;
  left: 35.5%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #FFFFFF;
padding-top: 10px;
  padding: 20px;
  border-radius: 10px;
 }
 .text1{
  text-align: left;
  padding-left: 0%;
  color:white !important;
  font-size: 1.5em;
  
 }
 .box1{
  background-color: #000020;
  padding-top:100px;
  padding-bottom:100px;
 }
.container1{
  display: flex;
  justify-content: space-between;
 flex-wrap: wrap;
 margin-bottom: 40px;


}
.box{
  width: calc(33.33% - 20px);
  margin-bottom:10px;
  box-sizing: border-box;
  padding: 15px;
  color:black;
  border: 1px solid #ddd ;
  background-color:#F8F8F8;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0);
  border-radius: 3px;
  text-align: left;
  
                           
}
.box6{
  width: calc(33.33% - 20px);
  margin-bottom:10px;
 
  box-sizing: border-box;
  /* padding: 15px; */
  color:black;
  border: 1px solid #ddd ;
  background-color:#F8F8F8;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0);
  border-radius: 3px;
  text-align: left;
  border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
@media only screen and (max-width:767px) {
  .box{
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width:767px) {
  .box {
    width: 100%;
  }
}




.box6 {
  width: 31%;
  margin-bottom: 2rem;
}

.box6 img {
  width: 100%;
  
}

.box6 p {
  font-size: 0.8rem;
  color:black;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .box6 {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .box6 {
    width: 100%;
  }
}
.testimonials {
  /* background-color: #5E7A8A; */
  background-color:#f2f2ff;
  padding: 60px 0;
  text-align: center;
  color: black;
}


.testimonial-card {
  width: 50%;
  margin: 0 auto 40px;
  padding: 40px;
  /* background-color: #4E6A7C; */
  background-color: #f2f2ff;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); 
  text-align: left;
  color:black;
}
@media(max-width:510px) {
  .testimonial-card{
    width: 80%;
  }
}
.testimonial-card blockquote {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
  color: black;
}

.testimonial-card .author {
  font-size: 16px;
  font-weight: bold;
  color:black;
}

@media(max-width:510px) {
 img{ width: 100%;
  height: auto;
 }
 #foot {
   font-size: 13px;
   margin-top: 10px;
  
   
 }
}
@media(max-width:768px) {
  img {
    width: 100%;
    height: auto;
  }

  #foot {
    font-size: 13px;
    margin-top: 10px;
    padding-left: -10px;

  }
}




.footer {
  /* background-color: #033E6B; */
  background-color: #F1F1F1;
  color: #FFFFFF;
}
#foot{
  padding-left: 0px;
    padding-right: 0px;
    font-size: 1.1rem;
}


 
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  /* Two columns that adjust to screen size */
  grid-gap: 20px;
  /* Add some space between the columns */
}

.column {
  background-color: 'rgba(0, 0, 0, 0.2)';
  padding: 20px;
}
 

/* Media query to make columns stack on small screens */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    
  }
  
}



/* About us Page */



/* h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
} */

/* .cta-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #333;
} */
/* .hero-slider {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

#one img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#two img {

  width: 100%;
    height: 60vh;
    object-fit: cover;
}
@media screen and (max-width: 600px) {
  #two img {
  
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }

}
@media screen and (max-width: 375px) {
  #two img {

    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

}
#hi {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
}

#hi h3 {
  color: #fff;
}

#hi p {
  color: #fff;
}

/* @media (max-width: 540px) {
  .slide img {
      width: 100%;
      height: 75vh;
      object-fit: cover;
    }

}
@media (max-width: 768px) {
  .slide img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
  }

} */


.my-row {
   background-color: #FFF;  
  /* background-color:#5E7A8A ; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 0px;
    margin-left: 0px;
  
}
.my-row ol{
 
  padding-left: 0px;

}
@media (max-width: 950px) {
  .my-row p{
    
    padding-left: 80px;
    padding-right: 80px;
  }
    .my-row ol {
  
      padding-left: 120px;
      
    }

}
@media (max-width: 540px) {
  .my-row p{
  
    padding-left: 50px;
    padding-right: 50px;
  }
     .my-row ol {
  
       padding-left: 100px;
  
     }

}

@media (min-width: 360px) {
  .my-row {
    
      padding-left: 0px;
      padding-right: 0px;
    }
 .my-row ol {

   padding-left: 100px;

 }
}

@media (max-width: 768px) {
  .my-row {
      
      padding-left: 0px;
      padding-right: 0px;
    }
        .my-row ol {
    
          padding-left: 100px;
    
        }
}
@media (max-width: 375px) {
  .my-row {
     
      padding-left: 0px;
      padding-right: 0px;
    }
        .my-row ol {
    
          padding-left: 100px;
    
        }
}
@media (min-width: 411px) {
  .my-row {
  
    padding-left: 0px;
      padding-right: 0px;
  }
.my-row ol {

  padding-left: 100px;

}
 
}
@media (min-width: 280px) {
  .my-row {
  
    padding-left: 0px;
    padding-right: 0px;
  }

  .my-row ol {

    padding-left: 80px;

  }

}
/* Oferta */
.my-row2{
  padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}
.my-row2 li{
  padding-left: 55px;
}
@media (min-width: 375px) {
  .my-row2 {

    padding-left: 0px;
    padding-right: 0px;
  }

  .my-row2 ol {

    padding-left: 0px;

  }

  #ofer {
    padding-left: 0px;
    padding-right: 0px;
  }

}
@media (min-width: 360px) {
  .my-row2 {

    padding-left: 0px;
    padding-right: 0px;
  }

  .my-row2 ol {

    padding-left: 0px;

  }

  #ofer {
    padding-left: 0px;
    padding-right: 0px;
  }

}
@media (min-width: 280px) {
  .my-row2 {

    padding-left: 0px;
    padding-right: 0px;
  }

  .my-row2 ol {

    padding-left: 0px;

  }
  #ofer{
padding-left:0px;
padding-right:0px;
  }

}


.hero-image1 {
  /* background-image: url("./pages/images/a.jpg"); */
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;
 
} 
.hero-image12 {
  /* background-image: url("./pages/images/foto 4.jpg"); */
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;

}
.hero-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}
.hero-texto h1{
  color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}


     .hero-slider {
       position: relative;
       width: 100%;
       height: 600px;
       overflow: hidden;
     }
  
     .hero-image {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       transition: opacity 0.3s ease-in-out;
     }
  
     .hero-image.active {
       opacity: 1;
     }
  
     .hero-container {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       
     }
  
     .hero-text {
       font-size: 1.5rem;
      
       margin-bottom: 1rem;
       color: #fff;
      background-color: black;
      opacity: 0.7;
      padding: 20px;
      border-radius: 3px;
     }
  
     /* .hero-subtext {
       font-size: 2rem;
       color: #333;
     }
   */
     /* .slider-prev,
     .slider-next {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       font-size: 3rem;
       font-weight: bold;
       color: #333;
       background: none;
       border: none;
       cursor: pointer;
     } */
  
     .slider-prev {
       left: 2rem;
     }
  
     .slider-next {
       right: 2rem;
     }
 @media(min-width:1280px) {
   .carousel-item {
     height: 500px;
   }
     .carousel-item img {
       max-height: 100%;
       object-fit: cover;
       max-width: 100%;
     }

 }
         
 @media(min-width:1280px) {
          #page {
             height: 700px;
           }
    
           #page img {
             max-height: 100%;
             object-fit: cover;
             max-width: 100%;
           }}


 
 
 @media(max-width:768px) {
   #page {
     margin-top: 80px;
     
   }

 
 }
    

 @media(max-width:375px) {
   #page {
    margin-top: 90px;
   }

   
 }


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  border-radius: 3px;
}

.hero-text h6 {
  font-size: 1.5em;
  margin: 0;
}

@media (max-width: 767px) {
  .hero-text h6 {
    font-size: 2em;
  }
}

@media (max-width: 540px) {
  .hero-text h6 {
    font-size: 0.9em;
  }
}
@media (max-width: 411px) {
  .hero-text h6 {
    font-size: 0.8em;
  }
}
@media (max-width: 375px) {
  .hero-text h6 {
    font-size: 0.7em;
  }
    
    }

        @media (max-width: 280px) {
          .hero-text h6 {
            font-size: 0.53em;
          }}

/* contact */
.contact {
  /* background-color: #f5f5f5; */
  background-color: #fff;
  padding: 60px 0;
  padding-top: 200px;
  padding-bottom: 200px;
}

.contact-info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-info ul li {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}

.contact-form form .form-group {
  margin-bottom: 20px;
  border: 1px solid #ddd;
 
}

.contact-form form .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding-left: 0;
}

.contact-form form textarea.form-control {
  resize: none;
}

.contact-form form button.btn {
  border-radius: 1px;
  font-size: 24px;
  font-weight: 700;
}
.btn{
  background-color:#033E6B;
  color: #fff;
}


@media (max-width: 768px) {
  .contact-info ul li {
    font-size: 18px;
  }
  .contact{
    padding-top: 150px;
  }

  .contact-form form button.btn {
    font-size: 20px;
    margin-top: 20px;
  }
    .contact-form {
      padding-top: 50px;
    }
}
          

.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .testimonial {
    width: 30%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }

  .testimonial img {
    width: 50%;
    margin-bottom: 10px;
  }

  .testimonial p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .testimonial cite {
    font-style: italic;
    font-size: 14px;
  }